*{
    box-sizing: border-box;
    margin: 0;
    font-family: "Chakra Petch", sans-serif;
}

body{
    padding: 4rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #2CEAA3;
    background-color: #102542;
}

#reloj{
    font-size: 7rem;
}

